<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User</title>
    <link rel="stylesheet" href="/public/css/userHome.css" />
  </head>
  <body>
    <h1>Edit User</h1>
    <form action="/editUser/<%= user.id %>" method="POST">
      <label for="fName">First Name:</label>
      <input
        type="text"
        id="fName"
        name="fName"
        value="<%= user.fName %>"
        required
      /><br /><br />

      <label for="lName">Last Name:</label>
      <input
        type="text"
        id="lName"
        name="lName"
        value="<%= user.lName %>"
        required
      /><br /><br />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="<%= user.email %>"
        required
      /><br /><br />

      <label for="phone">Phone:</label>
      <input
        type="text"
        id="phone"
        name="phone"
        value="<%= user.phone %>"
      /><br /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        value="<%= user.password %>"
        required
      /><br /><br />

      <label for="admin">Admin Status:</label>
      <select id="admin" name="admin" required>
        <option value="true" <% if (user.admin) { %>
          selected<% } %>>True
        </option>
        <option value="false" <% if (!user.admin) { %>
          selected<% } %>>False
        </option></select
      ><br /><br />

      <button type="submit">Update User</button>
    </form>
    <a href="/userPage" class="back-button">Back to User Page</a>
    <% if (typeof success !== 'undefined' && success) { %>
    <script>
      alert("<%= success %>");
    </script>
    <% } %>

    <!-- Error Message Display -->
    <% if (typeof error !== 'undefined' && error) { %>
    <script>
      alert("<%= error %>");
    </script>
    <% } %>
  </body>
</html>
