<!-- response_detail.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Response Detail</title>
    <link rel="stylesheet" href="/public/css/userHome.css" />
  </head>
  <body>
    <h1>Response Detail for ID: <%= response.responseid %></h1>
    <p><strong>Timestamp:</strong> <%= response.timestamp %></p>
    <p><strong>Location:</strong> <%= response.location %></p>
    <!-- Add other fields here -->
    <p><strong>Age:</strong> <%= response.age %></p>
    <p><strong>Gender:</strong> <%= response.gender %></p>
    <!-- Continue adding fields as necessary -->
  </body>
</html>
