<!-- views/display-data.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/user.css" />
  </head>
  <body>
    <label><b>Users</b></label>
    <br /><br />
    <table
      style="width: 100%; background-color: aquamarine; border: 1px solid black"
    >
      <thead style="background-color: red; color: white">
        <tr>
          <th style="text-align: left">First Name</th>
          <th style="text-align: left">Last Name</th>
          <th style="text-align: left">email</th>
          <th style="text-align: left">phone</th>
          <th style="text-align: left">password</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].fName %></td>
          <td><%= users[i].lName %></td>
          <td><%= users[i].email %></td>
          <td><%= users[i].phone %></td>
          <td><%= users[i].password %></td>
          <td>
            <form action="/edit/<%= users[i]._id %>" method="GET">
              <button type="submit">Edit</button>
            </form>
          </td>
          <td>
            <form action="/delete/<%= users[i]._id %>" method="GET">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
      <br /><br />
      <form action="/addUser" method="GET">
        <button type="submit">Add user</button>
      </form>
    </table>
  </body>
</html>
